.recipeGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 25px;
    padding: 16px; 

  }
  
  .recipeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; 
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .recipeCard img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
  }
  
  .recipeCard h2 {
    margin-top: 8px;
    font-size: 1rem;
    color: #000;
  }
  