.createRecipeContainer {
  padding: var(--section-padding);
}

@media (max-width: 768px) {
  .createRecipeContainer {
    padding: 20px 70px;
  }
}

@media (max-width: 480px) {
  .createRecipeContainer {
    padding: 20px 20px;
  }
}
