.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  list-style: none;
}

.categories li {
  border: 1px solid gray;
  padding: 20px 40px;
  border-radius: 10px;
}

/* media queries */
@media (max-width: 768px) {
  .categories li {
    padding: 15px 25px;
  }
}

@media (max-width: 480px) {
  .categories li {
    padding: 10px 20px;
  }
}
