.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  list-style: none;
}

.categories li {
  border: 1px solid gray;
  padding: 15px 35px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.categories li:hover {
  background-color: var(--orange);
  border: 1px solid var(--orange);
}

/* media queries */
@media (max-width: 768px) {
  .categories li {
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .categories li {
    padding: 10px 20px;
  }
}
