.nav {
  padding: 20px 50px;
  overflow: hidden;
}

.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 1.5rem;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.rightMenu {
  display: flex;
  gap: 10px;
}

.rightMenu svg {
  background-color: #f3f2f0;
  padding: 8px;
  border-radius: 12px;
  transition: all 0.3s ease;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* show the pop-up when either the icon div or the pop-up itself is hovered */
.rightMenu div:hover + .accountPopUp,
.accountPopUp:hover {
  display: flex;
}

.accountPopUp {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 150px;
  position: fixed;
  top: 8%;
  transform: translateX(-50px);
  color: black;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.accountPopUp a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
}

.accountPopUp a:hover {
  color: var(--orange);
  text-decoration: none;
}

/* media queries */
@media (max-width: 768px) {
  .nav {
    padding: 20px 50px;
  }
}

@media (max-width: 480px) {
  .nav {
    padding: 20px 20px;
  }

  .logo h1 {
    font-size: 1rem;
  }
}
