.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.signupContainer {
  padding: 50px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input {
  width: 300px;
  height: 30px;
  border: 1.5px solid #4986b7;
  border-radius: 10px;
  padding: 15px 10px;
}

.form input:focus {
  border: 1.5px solid var(--orange);
  outline: none;
}

.form button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: var(--orange);
  transition: 0.2s ease;
}
.form button:active {
  transform: scale(0.98);
}

.loginPrompt {
  font-size: 12px;
  color: #1e1e1e;
}
