.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 40px;
  font-family: Arial, sans-serif;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  align-items: center;
}

.branding {
  max-width: 300px;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--orange);
}

.linksSection {
  display: flex;
  justify-content: center;
}

.linksList {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.linksList li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.linksList li a:hover {
  color: var(--orange);
}

.socialMedia {
  text-align: center;
}

.socialIcons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}
.socialIcons img {
  height: 30px;
}

.socialIcons a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 6px 10px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.socialIcons a:hover {
  background-color: var(--orange);
  color: #333;
  border-color: var(--orange);
}

.footerBottom {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
  color: #888;
}

.footerBottom a {
  text-decoration: none;
  color: inherit;
}

/* media queries */
@media (min-width: 768px) {
  .footerContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}
