.search {
  display: flex;
  justify-content: center;
  padding: var(--section-padding);
}

.container {
  min-height: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("./src/assets/kitchen.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin: 1rem 0;
  overflow: hidden;
}

.heading {
  color: white;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  height: 3.5rem;
}

.inputContainer {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  background-color: white;
  border-radius: 1rem 0 0 1rem;
  border: none;
  color: #8a7260;
  border-right: none;
}

.input {
  flex: 1;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border: none;
  font-size: 1rem;
  color: #181411;
  outline: none;
  resize: none;
  overflow: hidden;
}

.input:focus {
  border-color: #e6e0db;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
  border: none;
  padding: 0 10px;
}

.button {
  background-color: #f47f25;
  color: #181411;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 84px;
  max-width: 480px;
}

.button:hover {
  background-color: #e67e22;
}
